main section#presentation {
    border-bottom-left-radius: 50px;
    background-color: var(--colorPrimary);
    
    color: var(--textColorDefault);

    margin-top: -1rem;
}

main section#presentation:target {
    scroll-margin-top: 5rem;
}

main section#presentation > .pit {
    width: 55%;
}

main section#presentation > img {
    transform: rotate(-18deg);

    height: 40rem;
}

.pit h1 {
    font-size: 3.4rem;
    line-height: 4rem;
}

.pit h1 strong {
    color: var(--colorSecundary);
}

.pit p {
    font-size: 1.4rem;
}

.pit button.register {
    margin-top: 1.4rem;
    padding: .8rem;

    border: none;
    border-radius: .6rem;

    background-color: var(--colorSecundary);
    color: var(--textColorDefault);

    font-size: 1.6rem;
    font-weight: 600;
}

button.register a {
    color: var(--textColorDefault);
}


@media (max-width: 1000px) {
    main {
        position: relative;
    }

    main section#presentation > .pit {
        position: absolute;
        z-index: 2;

        width: 80%;
    }
    #presentation img {
        margin-left: 55%;
    }

    .sections section {
        width: 100%;
    }
}

@media (max-width: 876px) {
    main section#presentation > img {
        scale: .86;

        margin-left: 44%;
        margin-top: 4rem;

        transform: rotate(-26deg);

        opacity: 90%;
    }

    main section#presentation > .pit {
        width: 86%;
    }
}

@media (max-width: 735px) {
    main section#presentation > img {
        scale: .73;

        margin-left: 44%;
        margin-top: 14rem;

        transform: rotate(-32deg);
    }

    main section#presentation > .pit {
        margin-top: -5rem;
    }
}


@media (max-width: 642px) {
    #presentation img {
        display: none;
    }

    main section#presentation > .pit {
        position: relative;

        width: 98%;
    }

    main section#presentation > .pit h1 {
        font-size: 2.8rem;
        line-height: 3rem;
    }
}


@media (max-width: 520px) {
    main section#presentation > .pit {
        margin-top: 1rem;
    }
}

@media (max-width: 425px) {
    .pit h1 {
        margin: -3rem 0 2rem;
    }

    .pit h1,
    .pit p {
        text-align: center;
    }

    .sections #presentation {
        padding: 2rem;
    }
        
    .pit button {
        margin-left: 50%;

        transform: translateX(-50%);
    }
}

@media (max-width: 350px) {
    main section#presentation > .pit {
        margin-top: 0;
    }
}

@media (max-width: 320px) {
    main section#presentation > .pit h1 {
        font-size: 2.5rem;
    }
}