* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    font-size: 62.5%;  /* 62.5% = 10px */

    --colorPrimary: #05112b;
    --colorSecundary: #1d5fee;
    --colorTerceary: #f55f44;

    --phoneNavColor: #f55f44ce;
    
    --textColorDefault: #ffffff;
    --backgroundColor: #e2e8e8d5;
    --backgroundColorBody: #f5f2f2;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    
    font-family: 'Poppins', sans-serif;
    color: var(--colorPrimary);
    background-color: var(--backgroundColorBody); 
}

body:has(#popUpContainer.show) {
    overflow: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}
  
body::-webkit-scrollbar-track {
    background: var(--backgroundColorBody);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--colorPrimary);

    border-radius: 10px;
    border: 3px solid var(--backgroundColorBody);
}

a {
    text-decoration: none;
}

main {
    margin: 1rem 0;
    width: 98%;
    max-width: 1126px;

    background-color: var(--backgroundColor);
    border-radius: 1rem;
}

main header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 10;
    top: 1rem;
    
    max-width: 1126px;
    width: 100%;
    padding: 1rem 6rem;

    background-color: var(--colorPrimary);
    color: var(--textColorDefault);
    
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: .3rem solid var(--colorTerceary) ;

    transition: background, top .3s;
}

header h2,
footer h2 {
    font-size: 2rem;
    font-weight: 900;

    color: var(--colorTerceary);
}

nav ul.navigation {
    display: flex;
    align-items: center;

    gap: 1.6rem;
}

li {
    font-size: 1.4rem;
    font-weight: 600;
    list-style: none;
}

nav li a {
    color: var(--textColorDefault);

    transition: color .5s;
}
@media (hover: hover) {
    nav li a:hover {
       color: var(--colorTerceary);
    }
}

header nav.viewPhone ul.navigation {
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: .2rem;
    right: 4.8rem;

    gap: 2rem;

    width: 30rem;
    padding: 2rem;

    background-color: var(--phoneNavColor);
    border-radius: 8px;
}

.viewPhone .navigation li a {
    font-size: 1.8rem;
    font-weight: 700;

    color: var(--colorPrimary);
}

ul.menu {
    display: none;
}

div.sections {
    margin-top: 4.4rem;
}

main section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 2rem 6rem;
    min-height: 52rem;
}

section:target {
    scroll-margin-top: 3rem;
}


main footer {
    --colorFooter: #c4c4c4c4;

    display: flex;
    flex-direction: column;

    align-items: center;
    
    background-color: var(--colorPrimary);
    
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    padding-top: 1rem;
}

main footer .divider {
    width: 90%;
    height: .5px;
    
    background-color: var(--colorFooter);
}

footer .contentFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;

    padding: .4 1.2rem;
}

footer .copyright {
    display: flex;
    align-items: center;

    gap: .4rem;

    padding: 2rem 0;

    font-size: 1.4rem;
    color: var(--colorFooter);    
}

.contentFooter button.top {
    display: flex;
    align-items: center;
    justify-content: center;

    transform: rotate(180deg);

    width: 3rem;
    height: 3rem;

    border: 2px solid var(--colorTerceary);
    border-radius: 6px;

    background-color: transparent;
    color: var(--colorTerceary);
    
    cursor: pointer;

    transition-property: color, border-color;
    transition-duration: .7s;
}
@media (hover: hover) {
    button.top:hover {
        border-color: var(--colorSecundary);
        color: var(--colorSecundary);
    }
}

@media (max-width: 1180px) {
    main, main header {
        width: 92%;
    }
}

@media (max-width: 810px) {
    main header {
        padding: .92rem 3.4rem;
    }
}

@media (max-width: 760px) {
    main > header ul.menu {
        display: flex;
        flex-direction: column;
        gap: .3rem;
        
        cursor: pointer;
        
        z-index: 12;
    }
    main > header ul.menu.x {
        position: absolute;
        right: 8.5rem;
    }
    main > header ul.menu.x li {
        position: absolute;
        
        margin-right: 2rem;
    }
    main > header ul.menu.x li:nth-child(2) {
        opacity: 0;
    }
    main > header ul.menu .first {
        margin-top: -.3rem;
    }
    
    main > header ul.menu li {
        width: 2.8rem;
        height: .3rem;
    
        background-color: var(--textColorDefault);
    
        border-radius: 4px;
    
        transition-property: transform;
        transition-duration: .6s;
    }
    
    main > header > nav {
        display: none;
    }
    main nav.nav {
        display: block;
    }
}

@media (max-width: 710px) {
    main footer {
        height: 13rem;
    }

    main footer .divider {
       margin-bottom: 2rem;
    }

    .contentFooter div.copyright {
        position: absolute;

        margin-top: 8rem;
    }
}

@media (max-width: 525px) {
    main footer .copyright {
       margin-top: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 500px) {
    main section {
        padding: 2rem 4rem;
    }
}

@media (max-width: 475px) {
    main > header ul.menu.x {
        right: 6rem;
    }
    
    header nav.viewPhone ul.navigation {
        right: 2.6rem;

        width: 28rem;
    }
}

@media (max-width: 425px) {
    main, main header {
        width: 96%;
    }

    main header {
        padding: .92rem 3rem;
    }
}

@media (max-width: 380px) {
    :root {
        font-size: 58%;
    }
}

@media (max-width: 330px) {
    main section {
        padding: 2rem 3rem;
    }
}