* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    font-size: 62.5%;  /* 62.5% = 10px */

    --colorPrimary: #05112b;
    --colorSecundary: #1d5fee;
    --colorTerceary: #f55f44;
    
    --textColorDefault: #ffffff;
    --backgroundColor: #e2e8e8d5;
    --backgroundColorBody: #f5f2f2;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    
    font-family: 'Poppins', sans-serif;
    color: var(--colorPrimary);
    background-color: var(--backgroundColorBody); 
}

body:has(#popUpContainer.show) {
    overflow: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}
  
body::-webkit-scrollbar-track {
    background: var(--backgroundColorBody);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--colorPrimary);

    border-radius: 10px;
    border: 3px solid var(--backgroundColorBody);
}

a {
    text-decoration: none;
}

main {
    margin: 1rem 0;
    width: 98%;
    max-width: 1126px;

    background-color: var(--backgroundColor);
    border-radius: 1rem;
}

main header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 10;
    top: 1rem;
    
    max-width: 1126px;
    width: 98%;
    padding: 1rem 6rem;

    background-color: var(--colorPrimary);
    color: var(--textColorDefault);
    
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: .3rem solid var(--colorTerceary) ;

    transition: background, top .3s;
}

header h2,
footer h2 {
    font-size: 2rem;
    font-weight: 900;

    color: var(--colorTerceary);
}

nav ul.navigation {
    display: flex;
    align-items: center;

    gap: 1.6rem;
}

li {
    font-size: 1.4rem;
    font-weight: 600;
    list-style: none;
}

nav li a {
    color: var(--textColorDefault);

    transition: color .5s;
}
nav li a:hover {
   color: var(--colorTerceary);
}

div.sections {
    margin-top: 4.4rem;
}

main section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 2rem 6rem;
    min-height: 52rem;
}

section:target {
    scroll-margin-top: 3rem;
}


main footer {
    --colorFooter: #c4c4c4c4;

    display: flex;
    flex-direction: column;

    align-items: center;
    
    background-color: var(--colorPrimary);
    
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    padding-top: 1rem;
}

main footer .divider {
    width: 90%;
    height: .5px;
    
    background-color: var(--colorFooter);
}

footer .contentFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;

    padding: 0 1rem;
}

footer .copyright {
    display: flex;
    align-items: center;

    gap: .4rem;

    padding: 2rem 0;

    font-size: 1.4rem;
    color: var(--colorFooter);    
}

.contentFooter button.top {
    display: flex;
    align-items: center;
    justify-content: center;

    transform: rotate(180deg);

    width: 3rem;
    height: 3rem;

    border: 2px solid var(--colorTerceary);
    border-radius: 6px;

    background-color: transparent;
    color: var(--colorTerceary);
    
    cursor: pointer;

    transition-property: color, border-color;
    transition-duration: .7s;
}
button.top:hover {
    border-color: var(--colorSecundary);
    color: var(--colorSecundary);
}